<table>
  <tr>
    <td>
      <h3>Reset Your Password</h3>
      <h4>Hi {{user.fname}},</h4>
      </br>
      <p class="lead">Looks like you have requested to reset your password for <a href="https://files.hanessassociates.com">https://files.hanessassociates.com</a></p>
      <p class="callout">
        Use the link below to reset your password.
        </br>
        <a href="{{token}}">{{token}}</a>
        </p>
      </br></br>
      <p>The above link will expire after 24 hours. Request a new link at <a href="https://files.hanessassociates.com/forgot">https://files.hanessassociates.com/forgot</a></p>
      </br>
      <p>Didn't request to reset your password? You can ignore this email.</p>      
    </td>
  </tr>
</table>

