<table>
  <tr>
    <td>
      <h3>Confirm your email</h3>
      <h4>Hi {{user.fname}},</h4>
      </br>
      <p class="lead">Please confirm you email address for your new account at <a href="https://files.hanessassociates.com">https://files.hanessassociates.com</a></p>
      <p class="callout">
        To confirm your email address, please follow the link below. (If it doesn't work, copy and paste the link into your browser's URL bar)
        </br>
        <a href="{{token}}">{{token}}</a>
        </p>
    </td>
  </tr>
</table>

