<h1>{{title}}</h1>
<p>Welcome {{fname}}</p>
<a href="/login">Login</a>
<a href="/register">Register</a>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit" class="btn btn-primary">Logout</button>
</form>