
{{#each messages}}
<div class="alert alert-danger" role="alert">
  {{this}}
</div>
{{/each}}
<form action="/login" method="POST">
  <div class="form-group">
    <label for="email">Email address</label>
    <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">This is the email address you used to register your account.</small>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input name="password" type="password" class="form-control" id="password" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input name="publiccheck" type="checkbox" class="form-check-input" id="publiccheck">
    <label class="form-check-label" for="public-check">This is a public or shared computer</label>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
<small class="form-text text-muted"> Not Registered? <a href="/register">Register Now</a></small>
<small class="form-text text-muted"> Trouble Logging in? <a href="/forgot">Forgot Password</a></small>
