
<div class="row px-2 py-4 p-md-5">
  <div class="col-12 px-2 py-4 p-md-5 bg-light rounded shadow">
    <h3>Test</h3>
    {{#each messages}}
    <div class="alert alert-danger" role="alert">
      {{this}}
    </div>
    {{/each}}
    {{#each errors}}
    <div class="alert alert-danger" role="alert">
      {{msg}}
    </div>
    {{/each}}
    <button type="button" class="btn btn-primary" onclick="testAjax()">Logout</button>
    <p id='ajax-data'></p>
  </div>
</div>

