{{#if user.admin}}
<script>var expireTime = {{regexpire}}</script>
{{/if}}
<div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="user-admin-tab">
  <h4>User Administration</h4>
  <div class="form-group row">
    <label for="org" class="col-sm-2 col-form-label">Organization</label>
    <div class="col-sm-10">
      <input name="org" type="text" class="form-control" id="org" value="{{user.org}}" readonly>
    </div>
  </div>
  <div class="form-group form-inline row">
    <label for="regcode" class="col-sm-2 col-form-label">Registration Code<button class="btn btn-light"
        data-toggle="tooltip" data-placement="right"
        title="A registration code is required for a user to register a new account. Only share this code with authorized individuals, it allows access to sensitive information! A registration code will only be valid for 24 hours after it is generated. Only one code may be active at a time."><svg
          xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-square"
          viewBox="0 0 16 16">
          <path
            d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
          <path
            d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
        </svg></button></label>
    <div class="col-sm-4">
      <input name="regcode" type="text" class="form-control" id="regcode" value="{{regcode}}" readonly>
    </div>
    <div class="col-sm-2">
      <small>Expires: <strong><span id="expireTime">--:--:--</span></strong></small>
    </div>
    <div class="col-sm-2">
      <button type="button" id="generateRegCode" class="btn btn-primary" onclick="requestRegCode()">Generate
        Code</button>
    </div>
  </div>
  <form onsubmit="return createUser();">
    <div class="form-group form-inline row">
      <label for="user_invite" class="col-sm-2 col-form-label">Send Invitation<button class="btn btn-light" data-html="true"
          data-toggle="tooltip" data-placement="right"
          title="Easily add users to your organization by sending an invite through email. <br> NOTE: The registration link in the email will expire at the same time as your active registration code."><svg
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-square"
            viewBox="0 0 16 16">
            <path
              d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
            <path
              d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
          </svg></button></label>
      <div class="col-sm-4">
        <input name="user_invite" type="email" class="form-control" id="user_invite" placeholder="email@example.com" required>
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary">Send Invite</button>
      </div>
    </div>
  </form>
  <div id="manageUsers">{{{table_users}}}</div>
</div>